html{
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
}

a{
  color: seashell;
}

.header{
  background-color: black;
  position: fixed;
  display: inline-flex;
  width: 100%;
  height: 69px;
  border-bottom: 1px white solid;
  z-index: 99;
  align-items: center;
}

.header img{
  padding-left: 10px;
  height: 50px;

}

.header ul{
  text-align: right;
  width: 100%;
  padding-right: 20px;
  justify-content: flex-end;
  display: inline-flex;

}

.header li{
  list-style: none;
  padding: 0 5px;
}

.container{
  padding-top: 69px;
  text-align: center;
  display: block;
  position: relative;
  z-index: 10;
}

.first{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: inline-flex;
  align-items: center;
}

.text1{
    background-color: black;
    width: 100%;
    display: inline;

}

.teamonth{
  width: 1000px;
  padding-bottom: 10px;
  display: inline-block;
}

.specials{
  padding-top: 20px;
  display: inline-block;
}

.special{
  height: 200px;
  width: 300px;
}

.locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height:500px;
  width: 1200px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.blocks{
  display: flex;
  align-content: center;
}

.block{
  background-color: black;
  width: 300px;
  margin: 15px 40px;
  opacity: 1;
}

.footer{
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.footer h2{
  font-size: 30px;

}

.copyright{
  text-align: left;
  width: 100%;
}
